In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.master('local[*]').appName('Rates_Array-SparkSQL').getOrCreate()

In [15]:
rate_df = spark.read.csv('Book-Ratings.csv', sep = ';', header = True, inferSchema = True)

## 1st Question

In [50]:
rates_array = rate_df.groupby('isbn').agg(
    count(col('rate')).alias('total_ratings'),
    count_distinct(col('rate')).alias('unique_ratings'),
    collect_list(col('rate')).alias('rates_array')).sort(col('total_ratings').desc())

In [ ]:
rates_array.show(5, truncate = False)

## 2nd Question

In [73]:
rates_array.printSchema()

root
 |-- isbn: string (nullable = true)
 |-- total_ratings: long (nullable = false)
 |-- unique_ratings: long (nullable = false)
 |-- rates_array: array (nullable = false)
 |    |-- element: integer (containsNull = false)

In [79]:
rates_array.select('isbn', explode(col('rates_array'))).show(10)

+----------+---+
|      isbn|col|
+----------+---+
|0971880107|  0|
|0971880107|  0|
|0971880107|  0|
|0971880107|  2|
|0971880107|  0|
|0971880107|  0|
|0971880107|  0|
|0971880107|  0|
|0971880107|  0|
|0971880107|  0|
+----------+---+
only showing top 10 rows