In [ ]:
from pyspark import SparkContext

Q1

In [ ]:
sc = SparkContext(master = 'local[*]', appName = 'Log Example')

In [ ]:
name_rdd = sc.textFile('/content/name_question.txt')

In [ ]:
name_rdd.collect()

['ali',
 'vahid',
 'maryam',
 'ava',
 'zahra',
 'farid',
 'sima',
 'hamed',
 'parvin',
 'farhad',
 'bahar',
 'radin',
 'siavash',
 'atefe',
 'khosro',
 'ali',
 'afagh',
 'mihan',
 'iran',
 'dariush',
 'mani',
 'parvins']

In [ ]:
def item_length(item):
  return (len(item), item)

In [ ]:
len_name_rdd = name_rdd.map(item_length)

In [ ]:
same_len_rdd = len_name_rdd.groupByKey()

In [ ]:
same_len_rdd.map(lambda x: (x[0], list(x[1]))).collect()

[(6, ['maryam', 'parvin', 'farhad', 'khosro']),
 (4, ['sima', 'iran', 'mani']),
 (3, ['ali', 'ava', 'ali']),
 (5,
  ['vahid',
   'zahra',
   'farid',
   'hamed',
   'bahar',
   'radin',
   'atefe',
   'afagh',
   'mihan']),
 (7, ['siavash', 'dariush', 'parvins'])]

Q2

In [ ]:
book_rdd = sc.textFile('/content/WordCount')

In [ ]:
book_rdd.take(5)

['The Project Gutenberg EBook of The Outline of Science, Vol. 1 (of 4), by',
 'J. Arthur Thomson',
 '',
 'This eBook is for the use of anyone anywhere at no cost and with',
 'almost no restrictions whatsoever.  You may copy it, give it away or']

In [ ]:
word_rdd = book_rdd.flatMap(lambda x : (x.split(' ')))

In [ ]:
word_rdd.take(10)

['The',
 'Project',
 'Gutenberg',
 'EBook',
 'of',
 'The',
 'Outline',
 'of',
 'Science,',
 'Vol.']

In [ ]:
word_number_rdd = word_rdd.map(lambda x : (x, 1))

In [ ]:
word_number_rdd.take(5)

[('The', 1), ('Project', 1), ('Gutenberg', 1), ('EBook', 1), ('of', 1)]

In [ ]:
result_rdd = word_number_rdd.reduceByKey(lambda x , y : x + y)

In [ ]:
result_rdd.take(5)

[('EBook', 26), ('of', 91286), ('Science,', 34), ('', 180182), ('eBook', 96)]